// ---------<varible>-----------
$colors:(
        bg:#D0D0D0,
        btn:#9370d8,
        colorr:#FFF,
        btn-bg:#8270d8
);

// ----------<function>----------
@function color($newcolor){
  @return map-get($colors,$newcolor)
}

//----------<import>-------------
@import "normalize.css";


body{
  background-color:color(bg);


}
//--------<setion1>--------------
.setion1 {
  .s1-div1 {
    width: 100%;
    height: 80vh;

    .nav-bar {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-start;
      background-color: color(bg);
      position: fixed;
      top: 0;
      width: 100%;

      a {
        margin-left:10px;
        padding-right: 20px;
        padding-top: 20px;
        &:hover {
          cursor: pointer;

        }
        ul{
        list-style-type:none ;
        display: none;
          position:absolute;
          z-index:999;
        }
      }
      .btn-try1 {
        float: right;
        border-radius: 5px;
        border-color: color(btn);
        padding:5px;
        margin-top: 15px;
        color: color(btn);
        margin-right: 5px;

        &:hover {
          box-shadow: 2px 2px 2px 2px color(btn);
          cursor: pointer;
        }
        &:focus {
          outline: none;
        }
      }
    }


    .matn {
      text-align: center;
      margin-top:100px;
    }
    form {
      text-align: center;

      .sech-company {
        width: 300px;
        height: 30px;
        padding: 0 5px;
        border-radius: 3px;

      }
      .btn-try2 {
        height: 35px;
        margin-left: 15px;
        background-color: color(btn);
        border-color: color(btn);
        color: color(colorr);
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color: color(btn-bg);
        }

        &:focus {
          outline: none;
        }

      }
    }


  #logo {
    margin-right:auto;
    padding-top: 5px;
    object-fit:contain;
  }

  }
    .banafsh{
      width: 100%;
      min-height:30%;
      background-color: #9370d8;
      display: flex;
      justify-content:center;


      .matn2 {
      width: 600px;
      //margin-top:0px;
      display: flex;
      flex-wrap: wrap;
      justify-content:space-between;
      text-align: justify;
      min-height: auto;
      direction:ltr;
      color: white;
      .text1,.text2,.text3{
          margin-top:120px;
          max-width:160px;
        }

    }

      .chear{
        position: absolute;
        //object-fit: contain;
        float: left;
        margin-top:-10px;
        margin-left:500px;
      }
    }
    #img1 {

      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
    }


}
//-----------<setion2>------------

.setion2{
  width:100%;
  height:100vh;
  .s2-div1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: justify;
    direction:ltr;
    background-color: white;
    height:50vh;
    .s2-matn{
      margin-top:40px;
      width:260px;
      min-height: auto;

    }
    .s2-img{
      margin-top:40px;

      //object-fit:contain;
      img{
        width:300px;
        margin-left: 20px;
      }
      }}


  .s2-div2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    direction:ltr;
    height:50vh;
    .s2-img{
      margin-top:40px;

      //object-fit:contain;
      img{
        width:300px;
        margin-left: 20px;
      }
    }
    .s2-matn{
      margin-top:80px;
      margin-left:50px;
      width:260px;
      min-height: auto;
      .bb{
        height: 100px;
        width: 100px;
        color: red;
      }
      img{
        width:300px;

      }
    }
}


}



